*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
.hero{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    text-align: center;
}
.box img{
    height: 100%;
    width: 100%;
}